.site-header {
    nav {
        padding: 20px;
    }

    .logo {
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;

        h3 {
            margin: 15px 0;
            font-size: 1.35em;
            font-weight: 700;
            line-height: 1.25;
            color: $white;
        }
    }

    .logo-broco {
        max-width: 377px;
        width: 100%;
    }
}
