// ====================================================================================================
.perspective {
    width: 100%;
    height: 100%;
}

.perspective.modalview {
    position: fixed;
    perspective: 1500px;
}

.modalview .container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    backface-visibility: hidden;
}

.modalview .wrapper {
    -webkit-transform: translateZ(-1px); /* solves a rendering bug in Chrome on Windows */
}

.effect-moveleft {
    height: 100%;

    .container {
        transition: transform 0.4s;
        transform-origin: 50% 50%;

        &::after {
            background: rgba(255, 255, 255, 0.6);
        }
    }

    .navigation a,
    .navigation a {
        opacity: 0;
        transform: translateX(100px) translateZ(-1000px);
        transition: transform 0.4s, opacity 0.4s;
    }

    .navigation a:hover {
        color: #333;
    }
}

.nav-container {
    display: table;
    table-layout: fixed;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    overflow-y: auto;
}

.navigation {
    display: table-cell;
    vertical-align: middle;
    padding: 50px 0;
    overflow: hidden;

    a {
        display: block;
        white-space: nowrap;
        font-weight: 600;
        padding: 15px 10px;
        color: #fff;
        transform-style: preserve-3d;

        &:hover {
            background-color: #333;
        }

        &.active {
            background-color: #222;
        }
    }
}

.navigation a {
    opacity: 0;
    transform: translateX(100px) translateZ(-1000px);
    transition: transform 0.25s, opacity 0.25s, background-color 0.25s ease-out;
}

.animate {
    .container {
        transform: translateX(-50%) rotateY(45deg) translateZ(-50px);

        &::after {
            opacity: 1;
            height: 101%;
            transition: opacity 0.3s;
        }

        .no-csstransforms3d & {
            left: -75%;
        }
    }

    .navigation a {
        opacity: 1;
        transform: translateX(0) translateZ(0);
        transition: transform 0.4s, opacity 0.4s, background-color 0.4s ease-out;

        &:nth-child(2) { transition-delay: 0.04s; }
        &:nth-child(3) { transition-delay: 0.08s; }
        &:nth-child(4) { transition-delay: 0.12s; }
        &:nth-child(5) { transition-delay: 0.16s; }
        &:nth-child(6) { transition-delay: 0.2s; }
        &:nth-child(7) { transition-delay: 0.24s; }
        &:nth-child(8) { transition-delay: 0.28s; }
        &:nth-child(9) { transition-delay: 0.32s; }
        &:nth-child(10) { transition-delay: 0.36s; }
        &:nth-child(11) { transition-delay: 0.4s; }
        &:nth-child(12) { transition-delay: 0.44s; }
        &:nth-child(13) { transition-delay: 0.48s; }
        &:nth-child(14) { transition-delay: 0.52s; }
        &:nth-child(15) { transition-delay: 0.56s; }
    }
}

// ====================================================================================================
.tabs {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    text-align: center;
    white-space: nowrap;
    border-bottom: 5px solid $grayDark;

    .tab {
        display: inline-block;
        margin: 0 1px;
        cursor: pointer;

        span:hover {
            color: $white;
            background: $blackLight;
        }
    }

    input[type="radio"] {
        display: none;
    }

    [type="radio"]:checked + span {
        color: $black;
        background: $grayLighter;
        background: linear-gradient(to bottom, $grayLighter 0%, $grayDark 100%);
    }

    span {
        position: relative;
        display: inline-block;
        vertical-align: bottom;
        padding: 0 20px;
        height: 3em;
        color: $grayLight;
        font-size: 16px;
        line-height: 3em;
        background: rgba(0, 0, 0, 0.25);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        transition: background 0.25s ease-in-out;
    }

    .single-tab {
        display: none;
        position: relative;
        height: 3em;
        font-weight: 600;
        cursor: pointer;

        span {
            padding-right: 70px;
        }
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        width: 32px;
        height: 16px;
        transform: translateY(-50%);
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .hamburger i {
        display: block;
        text-indent: 100%;
        overflow: hidden;
        white-space: nowrap;
        height: 4px;
        background-color: black;
        width: 100%;
        position: absolute;
        top: 50%;
        transition: .3s;
        transition-delay: .1s;
    }

    .hamburger:after, .hamburger:before {
        content: '';
        position: absolute;
        top: 0;
        height: 0;
        border-bottom: 4px solid black;
        width: 100%;
        left: 0;
        right: 0;
        transition: .35s cubic-bezier(0.680, -0.550, 0.265, 1.550);
        transform-origin: left top;
    }

    .hamburger:after {
        top: 100%;
        transform-origin: left bottom;
    }

}

// ====================================================================================================
.banner-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    max-width: 1064px;
    font-family: 'Open Sans Condensed', sans-serif;
    border-top: 1px solid $grayDarker;
    background: $gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-clip: padding-box;
    box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.35);
    overflow: hidden;

    &:before, &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 80%;
        left: 10px;
        bottom: 25px;
        width: 50%;
        background: lighten($blackLight, 10%);
        box-shadow: 0 15px 10px lighten($blackLight, 10%);
        transform: rotate(-3deg);
    }

    &:after {
        left: auto;
        right: 10px;
        transform: rotate(3deg);
    }

    .in-review & {
        padding-bottom: 50px;
    }
}

.banner {
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;

    html.touch & {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

.ad-container {
    margin: 0 auto;
    background: #000;

    iframe {
        width: 100%;
        height: 100%;
        border: 0;
        overflow: hidden;
    }
}

.overflow {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    border: none;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5) url('../img/ico-zoom.svg') no-repeat center center;
    transition: opacity 0.35s ease-out;

    &.active {
        opacity: 1;
    }
}

.file-meta { margin-bottom: 20px; padding: 20px 0; height: 20px; font-size: 12px; line-height: 1; }
.file-meta small { position: relative; top: -2px; }
.file-meta em { display: inline-block; vertical-align: middle; padding-right: 4px; }

.btn-reload-banner { padding: 10px 20px; background: #aaa; border: none; border-radius: 3px; cursor: pointer; }
.btn-reload-banner:active { background-color: #b7b7b7; background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent); box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.2); }
.btn-reload-banner:hover { background: #b7b7b7; }

abbr { position: relative; cursor: default; border-bottom-color: #555; }
abbr:after { content: ''; display: none; position: absolute; z-index: 5; top: -8px; left: 25%; width: 0; height: 0; border-top: 8px solid #aaa; border-left: 8px solid transparent; border-right: 8px solid transparent; }
abbr:before { content: attr(data-tooltip); display: none; position: absolute; z-index: 4; top: -32px; left: 0; padding: 6px 12px; color: #000; font-size: 12px; line-height: 1; white-space: nowrap; background: #aaa; border-radius: 3px; box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.5); }
abbr:hover:before, abbr:hover:after { display: block; }
